* {
  /*outline: 1px solid rgb(52, 255, 11); /* Marcador de bordes */
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Quitar Rebote de google*/
html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: none;
  margin: 0.7rem 0.3rem;
}

/*=========================================================*/
/* BARRA DE NAVEGACION
/*=========================================================*/
.barra-navegacion {
  display: flex;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100 !important;
  background: #0d1117;
  padding: 1.5rem;
}

/*=========================================================*/
/* LOGO
/*=========================================================*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
}
.logo h2 {
  margin: 0;
  margin-bottom: 0.4rem;
  padding: 0;
  font-size: 2rem;
  line-height: 1;
}
.logo img {
  height: 2.5rem;
  width: auto;
}
.barra-navegacion a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

/*BOTON LOGO - Animación respiración*/
.logo,
.logo h2,
.logo img {
  animation: respirar 3s ease-in-out infinite;
}
@keyframes respirar {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 0.06rem rgba(255, 255, 255, 0.2));
  }
  50% {
    transform: scale(1.01);
    filter: drop-shadow(0 0 0.16rem rgba(0, 170, 255, 0.7));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0.06rem rgba(255, 255, 255, 0.2));
  }
}

/*BOTON LOGO - Animación Glitch al hacer click*/
@keyframes glitch-logo {
  0% {
    transform: translate(0);
    filter: drop-shadow(0 0 0 red) drop-shadow(0 0 0 blue);
    clip-path: inset(0 0 0 0);
  }
  10% {
    transform: translate(-0.15rem, 0.12rem);
    filter: drop-shadow(0.4rem 0 0 magenta) drop-shadow(-0.4rem 0 0 blue);
    clip-path: inset(5% 0 20% 0);
  }
  20% {
    transform: translate(0.6rem, -0.3rem);
    filter: drop-shadow(-0.5 0.1rem 0 lime)
      drop-shadow(0.5rem -0.1rem 0 magenta);
    clip-path: inset(30% 0 5% 0);
  }
  30% {
    transform: translate(-0.7rem, 0.4rem);
    filter: drop-shadow(0.6rem 0 0 cyan) drop-shadow(-0.6rem 0 0 yellow);
    clip-path: inset(60% 0 5% 0);
  }
  40% {
    transform: translate(0.8rem, -0.5rem);
    filter: drop-shadow(-0.7rem 0.2rem 0 lime)
      drop-shadow(0.7rem -0.2rem 0 blue);
    clip-path: inset(20% 0 50% 0);
  }
  50% {
    transform: translate(-0.9rem, 0.6rem);
    filter: drop-shadow(0.8rem -0.1rem 0 lime)
      drop-shadow(-0.8 0.1rem 0 magenta);
    clip-path: inset(70% 0 15% 0);
  }
  60% {
    transform: translate(1rem, -0.7rem);
    filter: drop-shadow(-0.9rem 0 0 cyan) drop-shadow(0.9rem 0 0 yellow);
    clip-path: inset(30% 0 45% 0);
  }
  70% {
    transform: translate(-1.1rem, 0.8rem);
    filter: drop-shadow(1rem 0.2rem 0 lime) drop-shadow(-1rem -0.2rem 0 blue);
    clip-path: inset(50% 0 25% 0);
  }
  80% {
    transform: translate(0.2rem, -0.2rem);
    filter: drop-shadow(magenta) drop-shadow(0 0 0 red);
    clip-path: inset(0 0 0 0);
  }
  90% {
    transform: translate(-0.1rem, 0.1rem);
    filter: drop-shadow(0 0 0 red) drop-shadow(0 0 0 blue);
    clip-path: inset(0 0 0 0);
  }
  100% {
    transform: translate(0);
    filter: drop-shadow(0 0 0 lime) drop-shadow(0 0 0 red);
    clip-path: inset(0 0 0 0);
  }
}
.barra-navegacion > a.glitch-activo {
  animation: glitch-logo 0.3s steps(3, end) forwards;
}

/*=========================================================*/
/* Menu desplegable
/*=========================================================*/

/* Contenedor del menú (para posicionamiento) */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Botón que abre el menú */
.dropdown-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  gap: 0.375rem;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  color: white;
  border: 0.016rem rgba(27, 45, 5, 0.942);
  border-radius: 0.16rem;
  box-shadow:
    0.05rem 0.2rem 0.5rem rgba(0, 187, 255, 0.554),
    inset 0 0.225rem 0.325rem rgba(0, 187, 255, 0.63);
  transition: all 0.1s ease;
  cursor: pointer;
}
.dropdown-button:active {
  box-shadow:
    0 0.125rem 0.187rem rgba(0, 0, 0, 0.3),
    inset 0 0.0625rem 0.1875rem rgba(red, green, blue, 0.2);
  transform: translateY(0.12rem);
}

/*Boton de hamburguesa - estilo*/
.dropdown-button span {
  width: 1.9rem;
  height: 0.19rem;
  background-color: #fff;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

/*Boton de hamburguesa animación X*/
.dropdown-button.active span:nth-child(1) {
  transform: rotate(45deg) translate(0.31rem, 0.31rem);
  background-color: #ed1212;
}
.dropdown-button.active span:nth-child(2) {
  opacity: 0;
}
.dropdown-button.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0.45rem, -0.5rem);
  background-color: #ed1212;
}

/* Contenido del menú desplegable (oculto por defecto) */
.dropdown-content {
  position: absolute;
  bottom: 100%;
  right: -1rem;
  margin-bottom: 2rem;
  background-color: #050505;
  min-width: 15rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.25rem;
  overflow: hidden;

  /*Estados iniciales (oculto)*/
  opacity: 0;
  visibility: hidden;
  transform: translateY(0.625rem);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
}

/*Clase para mostrar el menu*/
.dropdown-content.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /*Pocision final*/
}

/* Enlaces dentro del menú */
.dropdown-content a {
  color: #fff;
  padding: 0.8rem 1rem;
  text-decoration: none;
  display: block;
  border-bottom: rgba(124, 178, 255, 0.6) 0.1rem solid;
}
.dropdown-content a:hover {
  background-color: #262626;
  transition: 0.2s;
}

/* Clase para mostrar el menú (se añade con JS) */
.show {
  display: block;
}

/*=========================================================*/
/* Cuerpo General
/*=========================================================*/
/*---------------------------------------------------------*/
/*=========================================================*/
/* Fuentes
/*=========================================================*/
@font-face {
  font-family: "orbitronBlack";
  src: url("../fuentes/orbitron-black.otf") format("opentype");
}
@font-face {
  font-family: "poppinsBlack";
  src: url("../fuentes/Poppins-Black.ttf");
}
@font-face {
  font-family: "montserratBold";
  src: url("../fuentes/Montserrat-Bold.ttf");
}
/*=========================================================*/
/* Tipografía */
main {
  font-family: sans-serif;
}
main h1 {
  font-family: orbitronBlack;
  text-transform: uppercase;
}
main h2 {
  font-family: "poppinsBlack", sans-serif;
  text-transform: uppercase;
}
main h3 {
  font-family: "montserratBold", sans-serif;
}
/*=========================================================*/

/*=========================================================*/
/* Ajustes de color y espacios */
body {
  background-color: #0d1117;
  color: #e0e0e0;
  padding: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 6.5rem;
}
main {
  background-color: #283864;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
  padding: 1rem;
}
article {
  background-color: #1c2541;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
  display: block;
}
section {
  margin-top: -3rem; /*Subir o bajar el h1 */
  padding: 1rem;
}
/*=========================================================*/

/*=========================================================*/
/* Scroll Snaping */
section {
  height: 85vh; /* Alto de la pantalla */
  display: flex;
  gap: 1rem;
  flex-direction: column; /* Alinear el flex verticalmente */
  justify-content: center; /* Centrar contenido en el centro de la pantalla */
  align-items: center; /* alinear al centro verticalmente */
  scroll-snap-align: start; /* Activa el imán por si el user hace el scroll */
}
article {
  overflow-y: hidden; /* Ocultar la barra lateral de desplazar */
  scroll-behavior: smooth; /*Salto fluido suave y no de golpe */
}

article * {
  vertical-align: top;
}

/*=========================================================*/
/* Boton de cristal */
.btn-cristal {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.6rem);
  -webkit-backdrop-filter: blur(0.6rem);
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-family: "orbitronBlack", sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  box-shadow:
    0.05rem 0.2rem 0.5rem rgba(0, 187, 255, 0.554),
    inset 0 0.225rem 0.325rem rgba(0, 187, 255, 0.63);
  padding-bottom: 1rem;
}
/* Hover */
.btn-cristal:hover {
  background: rgba(1, 18, 115, 0.338);
  border: 0.1rem rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
  transform: translateY(-0.2rem);
  box-shadow:
    0.05rem 0.2rem 0.5rem rgba(0, 187, 255, 0.554),
    inset 0 0.225rem 0.325rem rgba(0, 187, 255, 0.63);
}

/*Boton de subir flotante que aparece solo*/
.btn-cristal.up {
  align-self: flex-end;
  margin-top: 12rem;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
}

/* Diseño de flechas chevron */
.chevron {
  border-style: solid;
  border-width: 0.25rem 0.25rem 0 0;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/* Direcciones verticales */
.chevron.up {
  transform: rotate(-45deg);
} /* -45° = apunta arriba */
.chevron.down {
  transform: rotate(135deg);
} /* 135° = apunta abajo */

/*=========================================================*/
/* FOOTER
/*=========================================================*/
footer {
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #58a6ff;
}
footer a:active {
  color: #8df2ff;
  transition: ease-in-out;
}
footer ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
